#framediv {
    position: relative;
}

#formframe {
    width: 100%;
    height: 600px;
}

#framebutton {
    position: absolute;
    top: -66px;
    right: -20px;
    color: white;
    padding: 13px;
    background-color: darkred;
    border-radius: 30px;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

#framebutton:hover {
    opacity: 1.0;
}