#topperdiv {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 3em;
}

#spinner {
    margin-left: 60px;
    transform: scale(1.1);
}

#instagram {
    width: 50%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 4em;
}

@media screen and (max-width: 767px) {
    #instagram {
        display: none;
    }

    #spinner {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        transform: scale(1.3);
        margin-top: 2em;
    }
  }