#contactdiv {
    text-align: center;
}

#contactdiv a {
    color: black;
    transition: color 0.2s ease-in-out;
    font-size: 33px;
}

#contactdiv a:hover {
    /* color: darkred; */
}

.contacticon {
    font-size: 50px;
    margin-right: 5px;
}

#contactdiv .email:hover {
    color: darkgray;
}

#contactdiv .instahandle:hover {
    color: darkgray;
}

.instahandle {   
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: -webkit-filter ease-in-out 1s, filter ease-in-out 1s;
    filter: brightness(95%);
}

.instahandle span {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.08);
}

.instahandle:hover {
    /* filter: brightness(50%); */
}